/// @type String
/// @access public
/// @example scss - Change the element separator from '__' to '-'
///   $bem--sep-elem: '-';
///
///   @include b(block) {
///      @include e(element) {
///        background: blue;
///      }
///   }
///
///   // Generated CSS
///   .block-element { background: blue; }
$bem--sep-elem: if(meta.variable-exists(bem--sep-elem), $bem--sep-elem, '__');
